@import "audio_file.css";
@import "audio_tracks.css";
@import "audio_player.css";
@import "audio_tag.css";
@import "audio_search.css";
@import "audio_previous.css";

/**********************************************************
    SECTIONS
**********************************************************/

#main_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 6rem;
    overflow: hidden;
}

.section {
    position: absolute;
    overflow-x: hidden;
    z-index: 10;
    white-space: nowrap;
    color: var(--section-text-color);
    background-color: var(--section-bg-color);
}
.section_title {
    color: var(--section-text-color);
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom: calc(var(--section-title-height) * 0.25);
    font-size: calc(var(--section-title-height) * 0.60);
    height: calc(var(--section-title-height) * 0.75);
    background-color: var(--main-bg-color);
}

.section_body {
    position: absolute;
    top: var(--section-title-height);
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
