@import "variables.css";
@import "audio.css";
@import "info.css";

::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow: hidden;
    font-family: arial;
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
}

.hidden {
    display: none;
}


/**********************************************************
    CONTAINERS
**********************************************************/

#containers {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.container.active {
    display: block;
}


/**********************************************************
    TABS
**********************************************************/

#tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background-color: #111;
}
.tab {
    float: left;
    background-color: #111;
    height: 2rem;
    box-sizing: border-box;
    padding: 0 2rem;
    color: white;
    opacity: 0.3;
    line-height: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.tab.active {
    background-color: var(--main-bg-color);
    opacity: 1;
}

